#searchDiv {
	margin-top: 200px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#searchBorderDiv {
	border: 2px;
	border-style: solid;
}

#searchInput {
	width: 796px;
	vertical-align: middle;
	font-size: 150%;
	margin-right: -34px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
}

#searchSubmit {
	vertical-align: middle;
	height: 30px;
	width: 30px;
}

#uploadDiv {
	margin-top: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
